h1,h2{
    color: rgb(88, 219, 217);
}
h3{
    display: inline;
    display: table-cell;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}
h4{
    background-color: rgb(253, 195, 103);
}
#resultTB{
    background-image: url('../card/background.jpg');
}
table, th, td {
    border: 1px solid;
    margin: 0px auto;
}
table{
    table-layout: fixed ;
}
th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
td {
    text-align: left;
}
.unselectable{
    filter: brightness(50%);
}

#left{
    width: 400px; float: left;
}

#right{
    margin-left: 300px;
}

.player{
    width: 180px; float: left;
}

.result{
    margin-left: 180px;
    width: 100px;
    text-align: center;
}

.innerResult{
    background-color: rgb(253, 195, 103);
}

body{
    background-image: url('../card/mat.jpg');
}

.canvas_div_pdf{
    background-image: url('../card/mat.jpg');
}